<?xml version="1.0" encoding="utf-8" ?>
<!-- MaxBits: Sets the maximum length of a codeword in bits.
		              Should be in the range [9, 24]. Default is 12.
					  
		     Pruning: Controls whether the string table is pruned upon
		              reaching maximum capacity (determined by MaxBits).
			          Should be either "True" or "False". Default is "False".
					  
			 PruneWindow: Sets the number of codes added to the new string table
		                  after a prune. Ignored if pruning is turned off.
						  
			 InitEmptyStringTable: Controls whether single-character strings need to be seen
		                           and sent as an escape code followed by the 8-bit character
			                       before adding them to the string table. Should be either "True"
			                       or "False". Default is "False".-->
<configuration>
	<appSettings>
		<clear/>
		<add key="MaxBits" value="12"/>
		<add key="Pruning" value="False"/>
		<add key="PruneWindow" value="500"/>
		<add key="InitEmptyStringTable" value="False"/>
	</appSettings>
</configuration>